{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{% static 'style/register.css' %}">
</head>
<body>
  {% include 'navbar.html' %}
    <form method="post">
        <h3>Register</h3>
{%  csrf_token  %}
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">
        <label for="Email">Email </label>
        <input type="email" placeholder="Email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" placeholder="Password"  name="password" id="password">

        <button>Sign Up</button>
        <div class="acc">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </div>
    </form>
    {% if error_message %}
    <p>{{ error_message }}</p>  
    {% endif %}
    {% if messages %}
    <p>{{ messages }}</p> 

  {% endif %}
</body>
</html>
